apiVersion: v1
kind: Secret
metadata:
  name: keda-multitriggers-pod-secrets
  namespace: default
data:
  SASL_PASSWORD: "YOUR_EVENT_HUBS_CONNECTION_STRING"
  BROKER_LIST: "YOUR_EVENT_HUBS_BROKER_URL"
  TOPICS: "d29ya2l0ZW1z"
  STORAGE_CONNECTION_STRING: "YOUR_STORAGE_ACCOUNT_CONNECTION_STRING"
